.footer{
    margin-top: 15%;
}

.footer-container{
    position: relative;
    padding: 1% 2%;
    display: flex;
}

.copyright-container{
    width: 100%;
}

.coded-in-container{
    width: 100%;
}

.footer-item{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Helvetica;
    color: #131313;
}

.cd-back-cover{
    background: #CDCBC5;
    border: 1px solid #7E747A;
    box-sizing: border-box;
    width: 264px;
    height: 172.07px;
    position: absolute;
    right: 3%;
    bottom: 40%;
    border-radius: 5%;
    color: #7E747A;
    font-family: NeueMontreal;
    text-transform: uppercase;
}

.cd-title{
    margin: 0;
    display: flex;
    border-bottom: 1px solid #7E747A;
    height: auto;
    width: auto;
}

.name-kanji{
    padding: 0;
    margin: 0;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 100%;
    height: auto;
}

.name-kanji p{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 12%;
    margin: 0;
}

.name-aka{
    line-height: 15px;
    font-size: 15px;
    text-align: right;
    width: 100%;
    padding: 3% 13% 0 0;
}

.cd-body{
    position: relative;
    border-bottom: 1px solid #7E747A;
    display: flex;
}

.body-web{
    position: relative;
    padding: 4% 7% 4% 7%;
    border-right: 1px solid #7E747A;
    width: 100%;
}

.body-web p{
    margin-top: 0;
    line-height: 20px;
}

.ellipses-container{
    position: absolute;
    top: 15%;
    right: 25%;
}

.ellipse{
    border: 1px #7E747A solid;
    height: 35px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: -10px;
}

.body-dev{
    position: relative;
    padding: 4% 7% 4% 7%;
    width: 100%;
}

.body-dev p{
    margin-top: 0;
    line-height: 20px;
}

.bullseye-container{
    position: absolute;
    top: 15%;
    right: 25%;
    width: 40px;
    height: 40px;
}

.bullseye-outer-circle{
    position: relative;
    border: 1px #7E747A solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
}

.bullseye-inner-circle{
    position: relative;
    border: 1px #7E747A solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 17%;
    margin-left: 16%;
}

.bullseye-center{
    position: relative;
    background-color: #7E747A;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 26%;
    margin-left: 27%;
}

.get-in-touch{
    margin: auto;
    position: relative;
    padding: 4%;
    margin-left: 2%;
    font-size: 18px;
}