@font-face {
    font-family: DrukCond;
    src: url("../public/fonts/DrukCond-Super.ttf");
}

body{
    background-color: #E5E5E5;
}

.hero-container{
    border: black solid;
    height: 100vh;
}

.hero-name-container{
    margin: auto;
    border: cornflowerblue solid;
    height: 300px;
    text-align: center;
    width: 90%;
}

.hero-name{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: white;
    border: blue solid;
    font-family: DrukCond;
    font-size: 33.5vw;
    text-transform: uppercase;
    line-height: 0.85;
    z-index: -1;
}