.hero{
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

.hero-container{
    margin: 0;
    padding: 2%;
    box-sizing: border-box;
    /* border: blue solid; */
}

.hero-name-container{
    position: relative;
    margin: auto;
    
    text-align: center;
    /* border: black solid; */
    box-sizing: border-box;
    overflow: hidden;
    /* height: auto; */
    height: 400px;
}

h1{
    /* position: absolute; */
    margin: 0;
    /* margin-bottom: 100%; */
    display: inline-block;
    color: #E6E5E1;
    font-family: DrukCond;
    font-size: 36vw;
    text-transform: uppercase;
    line-height: 0.85;
    transition: all 0.5s ease-in-out;
    perspective: 1000px;
	perspective-origin: -150% 50%;
    /* z-index: 1; */
}

.upper-name .char{
    opacity: 0;
}

h1:nth-child(even){
    transform: translateY(-100%);
}

.lower-name .char{
    transform-origin: 0% 0%;
	will-change: transform;
}

.hero-info-container{
    display: flex;
}

.hero-info{
    padding: 0 1% 0 1%;
    font-size: 20px;
    font-family: NeueMontreal;
    font-weight: lighter;
    line-height: 30px;
}

.hero-info:nth-child(1){
    width: 25%;
}

.hero-info:nth-child(2){
    width: 50%;
}

.hero-info:nth-child(3){
    width: 25%;
    line-height: 15px;
}

.hero-info:nth-child(2) p:nth-child(1){
    width: 60%;
}