@font-face {
    font-family: DrukCond;
    src: url("../public/fonts/DrukCond-Super.ttf");
}

@font-face {
    font-family: NeueMontreal;
    src: url("../public/fonts/NeueMontreal-Regular.otf");
}

@font-face {
    font-family: NeueMontrealItalic;
    src: url("../public/fonts/NeueMontreal-Italic.otf");
}

body{
    background-color: #c5c5bf;
    margin: 0;
}

.navbar{
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0 3% 0 3%;
    box-sizing: border-box;
    z-index: 1;
}

.navbar-container{
    position: relative;
    height: inherit;
    margin: auto;
    display: flex;
    box-sizing: border-box;
}

.navbar-item{
    position: relative;
    width: 100%;
}

.item{
    position: absolute;
    top: 0;
    font-style: NeueMontreal;
    font-size: 14px;
    color: #4F5549;
    font-weight: 500;
    text-transform: uppercase;
}

.light-dark-button{
    position: absolute; 
    right: 0;
}