.projects{
    border: black solid;
    margin: 0;
    box-sizing: border-box;
}

.projects-container{
    position: relative;
    margin: 0;
    box-sizing: border-box;
    border: blue solid;
}

.wobbly-string-container{
    position: relative;
    border: red solid;
    height: 50px;
}

.wobbly-string{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    margin: 0;
    border: black solid;
    display: block;
    z-index: 10;
    box-sizing: border-box;
}

path{
    stroke: black;
    fill: none;
    stroke-width: 1;
}

.project-container{
    position: relative;
    height: 50px;
    border: lawngreen solid;
}

.project-title{
    padding-left: 2%;
    position: relative;
    margin: 0;
    font-family: NeueMontreal;
  
    color: #7D7A78;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 50px;
}

.project-title:hover{
    cursor: pointer;
    color: #131313;
}