.projects{
    /* border: black solid; */
    margin: 0;
    box-sizing: border-box;
}

.projects-container{
    position: relative;
    margin: 0;
    box-sizing: border-box;
    /* border: blue solid; */
}


.project-image{
    border-radius: 5%;
    position: absolute;
    width: 25%;
    height: 60%;
    z-index: 9;
    pointer-events: none;
    opacity: 0;
    object-fit: cover;
}

.wobbly-string-container{
    position: relative;
    /* border: red solid; */
    height: 32px;
}

.wobbly-string{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    /* border: black solid; */
    display: block;
    z-index: 10;
    box-sizing: border-box;
}

path{
    stroke: black;
    fill: none;
    stroke-width: 0.5;
}

path.active{
    stroke: #C8C9C2;
}

.project-container{
    position: relative;
    height: auto;
    z-index: 0;
    /* border: lawngreen solid; */
}

.project-title{
    padding-left: 2.5%;
    position: relative;
    margin: 0;
    font-family: NeueMontrealItalic;
  
    color: #7D7A78;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 50px;
}

.project-title.active{
    color: #81827D;
}

.project-title:hover{
    cursor: pointer;
    color: #131313;
}
.project-title:hover.active{
    color: #C5C8C2;
}