@font-face {
    font-family: DrukCond;
    src: url("../fonts/DrukCond-Super.ttf");
}

@font-face {
    font-family: NeueMontreal;
    src: url("../fonts/NeueMontreal-Regular.otf");
}


body{
    background-color: #c5c5bf;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body.active{
    background-color: #161814;
}

.navbar{
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0 3% 0 3%;
    box-sizing: border-box;
    z-index: 1;
    /* border: blue solid; */
}

.navbar-container{
    position: relative;
    height: inherit;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    font-style: NeueMontreal;
    font-size: 14px;
    color: #4F5549;
    font-weight: 500;
    /* filter: invert(0); */
   
    text-transform: uppercase;
}

.navbar-container.active{
    color: #C4CAC1;
}

.navbar-item{
    position: relative;
    width: 100%;
}

.item{
    position: absolute;
    top: 0;
    mix-blend-mode: difference;
}

.toggle{
    position: absolute; 
    right: 0;
    bottom: 5px;
    border: black 1px solid;
    width: 50px;
    height: 25px;
    position: absolute; 
    border-radius: 160px;
    background-color: rgb(72, 71, 71);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}

.indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: linear-gradient(to bottom, white, black);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}

.toggle.active .indicator{
    left: 25px;
    background: linear-gradient(to bottom, black, white);
}

.toggle.active{
    background-color: #C5C8C2;
}

.icon{
    margin-top: 5px;
    margin-left: 7px;
    size: 105px;
    color: yellow
}